$duration: 0.5s;
$red: #f37272;

.nav-item {
  font-size: 20px;
  line-height: 1.7;

  &:not(:last-child) {
    margin-right: 70px;
  }

  a {
    &.active:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $red;
      width: 100%;
    }
  }

  a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $red;
    transition: width $duration;
  }
  a:hover::after {
    width: 100%;
  }
}
