@import './base';

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.to-end {
  justify-content: flex-end;
}

.section {
  padding: 40px 0;

  @media screen and (min-width: $mediaMinWidth) and (max-width: $mediaTabletWidth) {
    padding: 60px 0;
  }

  @media screen and (min-width: $mediaTabletWidth) {
    padding: 80px 0;
  }
}

.padding-bottom-sm {
  padding-bottom: 12px;
}
