@import '../../sass/base';

.experience-section {
  //   .b {
  //     display: block;
  //   }

  //   .toggle {
  //     position: absolute;
  //     top: 54%;
  //     left: 19%;
  //     width: 60px;
  //     height: 40px;
  //     border-radius: 100px;
  //     background-color: #ddd;
  //     margin: -20px -40px;
  //     overflow: hidden;
  //     box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
  //     padding-bottom: 12px;
  //     padding-top: 12px;

  //     @media screen and (min-width: $mediaMinWidth) and (max-width: $mediaTabletWidth) {
  //       top: 54%;
  //       left: 19%;
  //     }

  //     @media screen and (min-width: $mediaTabletWidth) {
  //       top: 54%;
  //       left: 19%;
  //     }
  //   }

  //   .check {
  //     position: absolute;
  //     display: block;
  //     cursor: pointer;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     opacity: 0;
  //     z-index: 6;
  //   }

  //   .check:checked ~ .track {
  //     box-shadow: inset 0 0 0 20px #4bd863;
  //   }

  //   .check:checked ~ .switch {
  //     right: 2px;
  //     left: 22px;
  //     transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  //     transition-property: left, right;
  //     transition-delay: 0.05s, 0s;
  //   }

  //   .switch {
  //     position: absolute;
  //     left: 2px;
  //     top: 2px;
  //     bottom: 2px;
  //     right: 22px;
  //     background-color: #fff;
  //     border-radius: 36px;
  //     z-index: 1;
  //     transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  //     transition-property: left, right;
  //     transition-delay: 0s, 0.05s;
  //     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  //   }

  //   .track {
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  //     box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
  //     border-radius: 40px;
  //   }
}
