@import '../../sass/helpers';
@import '../../sass/base';

.projects-title--container {
  // padding: 0
  margin: 0 auto;
  .projects-title {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.projects-container {
  justify-content: space-between;
  flex-flow: column;
  text-align: center;

  @media screen and (min-width: $mediaTabletWidth) {
    flex-flow: row;
    text-align: left;

    .article-content-boxes {
      min-height: 160px;
    }
  }

  article + article {
    @media screen and (max-width: $mediaTabletWidth) {
      margin-top: 32px;
    }
  }

  article {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding: 16px 24px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 93%;
    margin: 0 auto;

    @media screen and (min-width: $mediaTabletWidth) {
      width: 45%;
    }
  }
}
