@import '../../sass/base';

.section-grey {
  background-color: #f5f5f5;
  padding: 40px 0;

  @media (min-width: $mediaMinWidth) and (max-width: $mediaTabletWidth) {
    padding: 60px 0;
  }

  @media (min-width: $mediaTabletWidth) {
    padding: 80px 0;
  }
}
