@import '../../sass/base';

.section {
  //background-color: #f5f5f5;
  padding: 40px 0;

  @media (min-width: $mediaMinWidth) and (max-width: $mediaTabletWidth) {
    padding: 60px 0;
  }

  @media (min-width: $mediaTabletWidth) {
    padding: 80px 0;
  }

  .home-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $mediaTabletWidth) {
      width: 60%;
    }

    h2 + p {
      padding-top: 12px;
    }

    p + p {
      padding-top: 16px;
    }
  }
}
