header {
  background-color: #223344;
  color: #fff;

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 26px 0;

    h3 {
      width: 20%;
    }
  }

  .nav-list {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    width: 80%;
  }
}
