@import '../../sass/base';

footer {
  background-color: #223344;
  color: #fff;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  width: 100%;

  @media (min-width: $mediaMinWidth) and (max-width: $mediaTabletWidth) {
    padding: 60px 0;
  }

  @media (min-width: $mediaTabletWidth) {
    padding: 80px 0;
  }

  .footer-header {
    margin-bottom: 12px;
  }

  .footer-container {
    justify-content: space-between;
  }

  .footer-ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    //li:not(:last-child) {
    // margin-right: 12px;
    //}
  }
  // footer,
  // div {
  // @media (max-width: $mediaMinWidth) {
  //   flex-direction: column;
  //   align-items: center;
  // }

  // @media (min-width: $mediaTabletWidth) {
  //   // flex-direction: row;
  // }

  // article {
  //   @media (max-width: $mediaMinWidth) {
  //     width: 100%;
  //   }
  // }
  // }
}
