@import '../../sass/base';

.button {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 4px;
  padding: 5px 10px !important;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font: inherit;
}

.button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.success {
  background-color: #00874d;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  height: 64px;
  width: 100%;
  // margin: 0 auto;

  @media screen and (max-width: $mediaMinWidth) {
    width: 32%;
    height: 50px;
    font-size: 18px;
  }
}

.success:focus,
.success:hover {
  outline: none;
  background-color: #006e3e;
}
