@import '../../sass/base';

.button {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 4px;
  padding: 0 30px !important;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  font: inherit;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.success {
  background-color: #00874d;
  color: #fff;
  font-size: 24px;
  height: 56px;
  width: 33%;

  @media screen and (max-width: $mediaMinWidth) {
    height: 50px;
    font-size: 18px;
    width: 33%;
  }
}

.success:focus,
.success:hover {
  outline: none;
  background-color: #006e3e;
}

span {
  transition: all 0.5s;
}

.btn--invisible {
  display: none;
  transform: translateY(114%);
}

button:hover .btn--visible {
  transform: translateY(140%);
}

button:hover .btn--invisible {
  display: block;
  transform: translateY(44%);
}
